body {
    margin: 0;
}

.menu-header {
    display: none;
    width: 100%;
    background-color: rgba(235, 233, 233, 0.589);
    align-items: center;
}
.option-div {
    width: 80%;
    text-align: right;
}
a {
    margin-left: 15%;
}


/* PROFILE DIV */
.profile-div {
    display: flex;
}
.profile-img {
    width: 65%;
    height: 100vh;
    background-image: url(/static/css/imgs/israel-flag.jpg);
    background-size: cover;
}
.main-menu-div {
    width: 35%;
    text-align: center;
    background-color: rgb(226, 224, 224);
    margin: 15px;
}



table {
    width: 100%;
}
table th {
    background-color: rgba(211, 210, 210, 0.623);
}
tbody td {
    text-align: center;
    background-color: rgba(245, 242, 242, 0.685);
}

#hebLet {
    font-size: 22px;
}
button {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}
#space {
    width: 80px;
    height: 30px;
}
textarea {
    width: 232px;
}

.main-div {
    display: flex;
    margin-inline: 10px;
}

.alpha-div {
    grid-area: alph;
    width: 40%;
    text-align: center;
}

.vocals-div {
    grid-area: vocal;
    text-align: center;
    /* margin-left: 50px; */

}

.buttons-div {
    grid-area: button;
}


/* VOCAL IMAGES */
.a-div {
    display: flex;
    align-items: center;
    margin-left: 40%;
}
.e-div {
    display: flex;
    align-items: center;
    margin-left: 40%;
}
.i-div {
    display: flex;
    align-items: center;
    margin-left: 40%;
}
.o-div {
    display: flex;
    align-items: center;
    margin-left: 40%;
}
.u-div {
    display: flex;
    align-items: center;
    margin-left: 40%;
}

img {
    grid-area: imgs;
    height: 100px;
    width: 100px;
}



/* RESPONSIVE */
@media (max-width: 1100px) {
    .profile-img {
        width: 100%;
        background-position: center;
    }
    .main-menu-div {
        display: none;
    }
    .main-div {
        display: grid;
        grid-template-areas: 
        'alph'
        'vocal'
        'button';
    }
    .alpha-div {
        width: 100%;
    }
    .vocals-div {
        margin-top: 30px;
        margin-left: 0;
    }
    .buttons-div {
        margin-top: 30px;
    }

    .a-div {margin-left: 0;}
    .e-div {margin-left: 0;}
    .i-div {margin-left: 0;}
    .o-div {margin-left: 0;}
    .u-div {margin-left: 0;}


    img {
        height: 60px;
        width: 60px;
    }
}