<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index_layout.css') }}">
    <title>Hebreo</title>
</head>
<body>
    <div>
        <div class="menu-header">
            <h1 style="padding-right: 20px;">Hebreo Online</h1>
            <div class="option-div">
                <a href="{{ url_for('alphabet') }}">Alfabeto</a>
                <a href="">Vocabulario</a>
                <a href="">Practica</a>
            </div>
        </div>
    </div>

    <div class="profile-div">
        <div class="profile-img">
            <div class="profile-header">
                <a href="" id="login">Login</a>
                <div class="menu-img-div" id="menu_button" onclick="optionButton()"></div>
            </div>
            <hr>
            <div class="responsive-menu-div">
                <div class="responsive-menu" id="container">
                    <div class="menu-options" id="options">
                        <a href="{{ url_for('alphabet') }}" class="op-a" style="margin-top: 20px;">אלפ-בית (Alef-Bet)</a>
                        <a href="{{ url_for('words') }}" class="op-a" style="margin-top: 35px; margin-bottom: 35px;">מלים (Milim)</a>
                        <a href="" class="op-a" style="margin-bottom: 20px;">תרגילים (Targuilim)</a>
                    </div>
                </div>
                <div class="responsive-title">
                    <div class="profile-title">
                        <p id="heb-title" style="margin-bottom: 0;">ספר-עברית<br>
                        
                        </p>
                        <span style="margin-top: 0;">Sefer-Ivrit</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-menu-div">
            <h1>Hebreo Online</h1>
            <div class="profile-options">

            </div>
        </div>
    </div>

</body>
<script>
    function optionButton() {
        var opt = document.getElementById("options");

        if (opt.style.display == 'flex') {
            opt.style.display = 'none';
        } 
        else {
            opt.style.display = 'flex';
        }
    }
</script>
</html>