<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index_layout.css') }}">
    <title>Hebreo</title>
</head>
<body>
    <div>
        <div class="menu-header">
            <h1 style="padding-right: 20px;">Hebreo Online</h1>
            <div class="option-div">
                <a href="">Alfabeto</a>
                <a href="">Vocabulario</a>
                <a href="">Practica</a>
            </div>
        </div>
    </div>

    <div class="profile-div">
        <div class="profile-img"></div>
        <div class="main-menu-div">
            <h1>Hebreo Online</h1>
            <div class="profile-options">

            </div>
        </div>
    </div>

    <div class="main-div">
        <div class="alpha-div">
            <h2>Alfabeto</h2>
            <table>
                <tr>
                    <th>Hebreo</th>
                    <th>Español</th>
                    <th>Nombre</th>
                </tr>
                <tbody>
                    <tr>
                        <td id="hebLet">א</td>
                        <td>H (suspirada)</td>
                        <td>Alef</td>
                    </tr>
                    <tr>
                        <td id="hebLet">ב</td>
                        <td>B,V</td>
                        <td>Bet</td>
                    </tr>
                    <tr>
                        <td id="hebLet">ג</td>
                        <td>G</td>
                        <td>Guimel</td>
                    </tr>
                    <tr>
                        <td id="hebLet">ד</td>
                        <td>D</td>
                        <td>Tálet</td>
                    </tr>
                    <tr>
                        <td id="hebLet">ה</td>
                        <td>H (J suave)</td>
                        <td>Héi</td>
                    </tr>
                    <tr>
                        <td id="hebLet">ך</td>
                        <td>Va, Ve, Vi, Vo</td>
                        <td>Váv</td>
                    </tr>
                    <tr>
                        <td id="hebLet">ז</td>
                        <td>Z</td>
                        <td>Zain</td>
                    </tr>
                    <tr>
                        <td id="hebLet">ת</td>
                        <td>T (th)</td>
                        <td>Tav</td>
                    </tr>
                    <tr>
                        <td id="hebLet">ט</td>
                        <td>T</td>
                        <td>Tet</td>
                    </tr>
                    <tr>
                        <td id="hebLet">י</td>
                        <td>Y</td>
                        <td>Yud</td>
                    </tr>
                    <tr>
                        <td id="hebLet">כ</td>
                        <td>K</td>
                        <td>Kaf</td>
                    </tr>
                    <tr>
                        <td id="hebLet">ל</td>
                        <td>L</td>
                        <td>Lamed</td>
                    </tr>
                    <tr>
                        <td id="hebLet">מ</td>
                        <td>M</td>
                        <td>Mem</td>
                    </tr>
                    <tr>
                        <td id="hebLet">נ</td>
                        <td>N</td>
                        <td>Nun</td>
                    </tr>
                    <tr>
                        <td id="hebLet">ס</td>
                        <td>S</td>
                        <td>Sámej</td>
                    </tr>
                    <tr>
                        <td id="hebLet">ע</td>
                        <td>aa (doble a)</td>
                        <td>Ayin</td>
                    </tr>
                    <tr>
                        <td id="hebLet">פ</td>
                        <td>P,F</td>
                        <td>Pei, Fei</td>
                    </tr>
                    <tr>
                        <td id="hebLet">צ</td>
                        <td>Tz</td>
                        <td>Tzadi</td>
                    </tr>
                    <tr>
                        <td id="hebLet">ק</td>
                        <td>Q</td>
                        <td>Qof</td>
                    </tr>
                    <tr>
                        <td id="hebLet">ר</td>
                        <td>R</td>
                        <td>Resh</td>
                    </tr>
                    <tr>
                        <td id="hebLet">ש</td>
                        <td>Sh,Shi</td>
                        <td>Shin</td>
                    </tr>
                    <tr>
                        <td id="hebLet">ח</td>
                        <td>J/X</td>
                        <td>Jet</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="vocals-div">
            <h2>Vocales</h2>
            <div class="a-div">
                <h4>A: </h4>
                <div class="a-igm"><img src="/static/css/imgs/kamatz.jpeg" alt=""></div>
                <div class="a-igm"><img src="/static/css/imgs/pataj.jpeg" alt=""></div>
                <div class="a-igm"><img src="/static/css/imgs/jataf_pataj.jpeg" alt=""></div>
            </div>

            <div class="e-div">
                <h4>E: </h4>
                <div class="e-img"><img src="/static/css/imgs/tzeire.jpeg" alt=""></div>
                <div class="e-img"><img src="/static/css/imgs/tzeire_male.jpeg" alt=""></div>
                <div class="e-img"><img src="/static/css/imgs/segol.jpeg" alt=""></div>
                <div class="e-img"><img src="/static/css/imgs/jataf_segol.jpeg" alt=""></div>
                <div class="e-img"><img src="/static/css/imgs/sheva.jpeg" alt=""></div>
            </div>

            <div class="i-div">
                <h4>I: </h4>
                <div class="i-img"><img src="/static/css/imgs/jirik.jpeg" alt=""></div>
                <div class="i-img"><img src="/static/css/imgs/jirik_male.jpeg" alt=""></div>
            </div>

            <div class="o-div">
                <h4>O: </h4>
                <div class="o-img"><img src="/static/css/imgs/jolam.jpeg" alt=""></div>
                <div class="o-img"><img src="/static/css/imgs/jolam_male.jpeg" alt=""></div>
                <div class="o-img"><img src="/static/css/imgs/kamatz_katen.jpeg" alt=""></div>
                <div class="o-img"><img src="/static/css/imgs/jataf_kamatz.jpeg" alt=""></div>
            </div>

            <div class="u-div">
                <h4>U: </h4>
                <div class="u-img"><img src="/static/css/imgs/shuruk.jpeg" alt=""></div>
                <div class="u-img"><img src="/static/css/imgs/kubutz.jpeg" alt=""></div>
            </div>
        </div>

        <!-- <div class="buttons-div">
            <div>
                <div>
                    <button>א</button>
                    <button>ב</button>
                    <button>ג</button>
                    <button>ד</button>
                    <button>ה</button>
                    <button>ך</button>
                    <button>ז</button>
                </div>
                <div>
                    <button>ת</button>
                    <button>ט</button>
                    <button>י</button>
                    <button>כ</button>
                    <button>ל</button>
                    <button>מ</button>
                    <button>נ</button>
                </div>
                <div>
                    <button>ס</button>
                    <button>ע</button>
                    <button>פ</button>
                    <button>צ</button>
                    <button>ק</button>
                    <button>ר</button>
                    <button>ש</button>
                </div>
                <div>
                    <button>ש</button>
                    <button>ח</button>
                    <button id="space">Espacio</button>
                    <br>
                    <textarea name="" id=""></textarea>
                </div>
            </div>
        </div> -->
    </div>
</body>
</html>