<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/words_layout.css') }}">
    <title>Hebreo</title>
</head>
<body>
    <div class="profile-div">
        <div class="profile-img">
            <div class="profile-header">
                <div class="logo">
                    <div class="mag-david-img"></div>
                </div>
                <div class="mybutton">   
                    <div class="menu-img-div" id="menu_button" onclick="optionButton()"></div>
                </div>
            </div>
            <hr>
            <div class="responsive-menu-div" id="rp-div">
                <div class="responsive-menu" id="container">
                    <div class="menu-options" id="options">
                        <a href="{{ url_for('index') }}" class="op-a" style="margin-top: 20px;">אִתְחוּל (Itjul)</a>
                        <a href="{{ url_for('alphabet') }}" class="op-a" style="margin-top: 35px; margin-bottom: 35px;">אָלֵפ-בֵּית (Alef-Bet)</a>
                        <a href="" class="op-a" style="margin-bottom: 20px;">תָּרְגִּילִים (Targuilim)</a>
                    </div>
                </div>
            </div>
        </div>
    
        
        <div>
            <div class="searcher-div">
                <div class="searcher-title">
                    <p style="font-size: 22px; margin-bottom: 0; margin-top: 10px; font-weight: bold;">אוֹצָר מִילִּים</p>
                    <p style="margin-top: 0.5px;">Otzar milim</p>
                </div>
                <div class="search-content">
                    <select name="" id="mySelect" onchange="choice(this)">
                        <option value="">-------</option>
                        <option value="section-1">כִּנּוּי גּוּף (Kinúi Guf)</option>
                        <option value="section-2">מִשְׁפָּחָה (Mishpajah)</option>
                        <option value="section-3">צְבָעִים (Tzvaim)</option>
                        <option value="section-4">שָׁבוּעַ (Shavua)</option>
                    </select>
                    <!-- <button type="button" id="search-btn">לחפּשׂ</button> -->
                </div>
            </div>
            <hr>
        </div>
    </div>

    
    <div class="table-div">
        
        <section id="section-1">
            <p style="font-size: 22px; font-weight: bold;">כִּנּוּי גּוּף (Kinúi Guf)</p>
            <table>
                <tr>
                    <th>Hebreo</th>
                    <th>Español</th>
                    <th>Sonido</th>
                </tr>
                <tbody>
                    <tr>
                        <td>אֲנִי</td>
                        <td>Yo</td>
                        <td>Ani</td>
                    </tr>
                    <tr>
                        <td>אַתָּה</td>
                        <td>Tu (M)</td>
                        <td>Atah</td>
                    </tr>
                    <tr>
                        <td>אַתְּ</td>
                        <td>Tu (F)</td>
                        <td>Ath</td>
                    </tr>
                    <tr>
                        <td>הוּא</td>
                        <td>El</td>
                        <td>Hu</td>
                    </tr>
                    <tr>
                        <td>הִיא</td>
                        <td>Ella</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>אֲנַחְנוּ</td>
                        <td>Nosotros/as</td>
                        <td>Anahnu</td>
                    </tr>
                    <tr>
                        <td>אַתֶּם</td>
                        <td>Ustedes (M/F)</td>
                        <td>Atem</td>
                    </tr>
                    <tr>
                        <td>אַתֶּן</td>
                        <td>Ustedes (F)</td>
                        <td>Aten</td>
                    </tr>
                    <tr>
                        <td>הֵם</td>
                        <td>Ellos</td>
                        <td>Hem</td>
                    </tr>
                    <tr>
                        <td>הֵן</td>
                        <td>Ellas</td>
                        <td>Hen</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section id="section-2">
            <p style="font-size: 22px; font-weight: bold;">מִשְׁפָּחָה (Mishpajah)</p>
            <table>
                <tr>
                    <th>Hebreo</th>
                    <th>Español</th>
                    <th>Sonido</th>
                </tr>
                <tbody>
                    <tr>
                        <td>אַבָּא</td>
                        <td>Padre</td>
                        <td>Aba</td>
                    </tr>
                    <tr>
                        <td>אִמָּא</td>
                        <td>Madre</td>
                        <td>Ima</td>
                    </tr>
                    <tr>
                        <td>בֵּן</td>
                        <td>Hijo</td>
                        <td>Ben</td>
                    </tr>
                    <tr>
                        <td>בַּת</td>
                        <td>Hija</td>
                        <td>Bat</td>
                    </tr>
                    <tr>
                        <td>אָח</td>
                        <td>Hermano</td>
                        <td>Aj</td>
                    </tr>
                    <tr>
                        <td>אָחוֹת</td>
                        <td>Hermana</td>
                        <td>Ajot</td>
                    </tr>
                    <tr>
                        <td>סַבָּא</td>
                        <td>Abuelo</td>
                        <td>Saba</td>
                    </tr>
                    <tr>
                        <td>סָבְתָא</td>
                        <td>Abuela</td>
                        <td>Savta</td>
                    </tr>
                    <tr>
                        <td>אַחְיָן</td>
                        <td>Sobrino</td>
                        <td>Ajián</td>
                    </tr>
                    <tr>
                        <td>אַחְיָנִית</td>
                        <td>Sobrina</td>
                        <td>Ajianit</td>
                    </tr>
                    <tr>
                        <td>דּוֹד</td>
                        <td>Tio</td>
                        <td>Dod</td>
                    </tr>
                    <tr>
                        <td>דּוֹדָה</td>
                        <td>Tia</td>
                        <td>Dodah</td>
                    </tr>
                    <tr>
                        <td>דּוֹדָן</td>
                        <td>Primo</td>
                        <td>Dodán</td>
                    </tr>
                    <tr>
                        <td>דּוֹדָנִית</td>
                        <td>Prima</td>
                        <td>Dodanit</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section id="section-3">
            <p style="font-size: 22px; font-weight: bold;">צְבָעִים (Tzvaim)</p>
            <table>
                <tr>
                    <th>Hebreo</th>
                    <th>Español</th>
                    <th>Sonido</th>
                </tr>
                <tbody>
                    <tr>
                        <td>צֶבַע</td>
                        <td>Color</td>
                        <td>Tzeva</td>
                    </tr>
                    <tr>
                        <td>לָָבָן</td>
                        <td>Blanco</td>
                        <td>Lavan</td>
                    </tr>
                    <tr>
                        <td>שָׁחוֹר</td>
                        <td>Negro</td>
                        <td>Shajor</td>
                    </tr>
                    <tr>
                        <td>אָדוֹם</td>
                        <td>Rojo</td>
                        <td>Adom</td>
                    </tr>
                    <tr>
                        <td>יָרוֹק</td>
                        <td>Verde</td>
                        <td>Yarok</td>
                    </tr>
                    <tr>
                        <td>כָּחוֹל</td>
                        <td>Azul</td>
                        <td>Kajol</td>
                    </tr>
                    <tr>
                        <td>צָהוֹב</td>
                        <td>Amarillo</td>
                        <td>Tzahov</td>
                    </tr>
                    <tr>
                        <td>ורוד</td>
                        <td>Rosa</td>
                        <td>Varod</td>
                    </tr>
                    <tr>
                        <td>כָּתוֹם</td>
                        <td>Anaranjado</td>
                        <td>Katom</td>
                    </tr>
                    <tr>
                        <td>סָגוֹל</td>
                        <td>Morado</td>
                        <td>Sagol</td>
                    </tr>
                    <tr>
                        <td>אָפוֹר</td>
                        <td>Gris</td>
                        <td>Afor</td>
                    </tr>
                    <tr>
                        <td>חוּם</td>
                        <td>Café</td>
                        <td>Rum</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section id="section-4">
            <p style="font-size: 22px; font-weight: bold;">שָׁבוּעַ (Shavua)</p>
            <table>
                <tr>
                    <th>Hebreo</th>
                    <th>Español</th>
                    <th>Sonido</th>
                </tr>
                <tbody>
                    <tr>
                        <td>יוֹם רִאשׁוֹן</td>
                        <td>Domingo</td>
                        <td>Yom Rishón</td>
                    </tr>
                    <tr>
                        <td>יוֹם שֵׁנִו</td>
                        <td>Lunes</td>
                        <td>Yom Shení</td>
                    </tr>
                    <tr>
                        <td>יוֹם שְׁלִישׁי</td>
                        <td>Martes</td>
                        <td>Yom Shlishí</td>
                    </tr>
                    <tr>
                        <td>יוֹם רְבִיעִי</td>
                        <td>Miércoles</td>
                        <td>Yom Revi'í</td>
                    </tr>
                    <tr>
                        <td>יוֹם חֲמִישִׁי</td>
                        <td>Jueves</td>
                        <td>Yom Jamishí</td>
                    </tr>
                    <tr>
                        <td>יוֹם שִׁשִׁי</td>
                        <td>Viernes</td>
                        <td>Yom Shishí</td>
                    </tr>
                    <tr>
                        <td>יוֹם שָׁבַּת</td>
                        <td>Sábado</td>
                        <td>Yom Shabát</td>
                    </tr>
                    <tr>
                        <td>אֶתְמוֹל</td>
                        <td>Ayer</td>
                        <td>Etmol</td>
                    </tr>
                    <tr>
                        <td>הַיוֹם</td>
                        <td>Hoy</td>
                        <td>Hayom</td>
                    </tr>
                    <tr>
                        <td>מַחָר</td>
                        <td>Mañana</td>
                        <td>Majar</td>
                    </tr>
                </tbody>
            </table>
        </section>

    </div>

</body>
<script>
    function optionButton() {
        var opt = document.getElementById("rp-div");

        if (opt.style.display == 'block') {
            opt.style.display = 'none';
        } 
        else {
            opt.style.display = 'block';
        }
    }

    function choice(select) {
        var sel = select.options[select.selectedIndex].value;
        var str = sel.toString();

        var elem = document.getElementById(str);
        elem.scrollIntoView({
            behavior: "smooth",
            block: "start",
            inline: "center"
        });
    }
</script>
</html>